.hidden {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02ac18;
    padding: 10px 20px;
    position: relative;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}
.menu .menu-links {
    display: flex;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    .menu .menu-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ff0007;
        position: absolute;
        top: 50px;
        left: 0;
    }
    .menu .menu-links.active {
        display: flex;
    }
    .menu .menu-links a {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #575757;
    }
    .menu-toggle {
        display: flex;
    }
}