.App {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*background-color: #f4f4f5; /* Fond clair inspiré de Microsoft */
  background-image: url('/public/background.png');
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover;                 /* Make the image fill the screen */
  background-position: center;           /* Center the image on the screen */
  height: 100vh;                          /* Set the height to match the viewport */
  margin: 0;
  height: 100%; /* Ensure the body takes the full height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
