# Caddyfile reverse proxy

# API
gourmet.cours.quimerch.com {
	reverse_proxy api:8083
}

# Frontends prof
astro.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy astro:4321
}

nextjs.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy nextjs:3003
}

# Frontends eleves
alpha.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy alpha:80
}

gamma.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy gamma:80
}

epsilon.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy epsilon:80
}

zeta.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy zeta:80
}

eta.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy eta:80
}

kappa.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy kappa:80
}

lambda.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy lambda:80
}

mu.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy mu:80
}

nu.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy nu:80
}

pi.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy pi:80
}

sigma.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy sigma:80
}

tau.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy tau:80
}

upsilon.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy upsilon:80
}

chi.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy chi:80
}

psi.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy psi:80
}

omega.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy omega:80
}

test.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy test:80
}

grafana.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy grafana:3000
}

perf.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy perf:8570
}

portainer.cours.quimerch.com {
	encode gzip zstd
	reverse_proxy portainer:9443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}
